.mainscreen{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header {
    background-color: aliceblue;
    font-size:xx-large;
    color: brown;
    padding: 10px;
}
.remaining{
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
}
.cardheader{
    background-color: #0d6efd;
    font-size: x-large;
    padding: 5px;
    color: white;
}
.card{
    width:35%;
    display:flex;
    border: 2px solid #0d6efd;
}
.cardbody{
    flex:1;
    display: flex;
    flex-direction: column;
    padding:15px;
}
.inputfield{
    padding-bottom: 10px; 
    margin-bottom: 10px;
    width: -webkit-fill-available;
    border-radius: 5px;
    border: 1px solid black;
}