.header {
    background-color: aliceblue;
    font-size:xx-large;
    color: brown;
    padding: 10px;

}
.loginheader{
    background-color: #0d6efd;
    font-size: x-large;
    padding: 5px;
    color: white;
}
.logincart{
    width: 30%;
    /* display: flex;
    align-items: center;
    justify-content: center;
     */
    display: flex;
    height: 43%;  
    flex-direction: column;
    margin: auto;
    border: 2px solid #0d6efd;
    border-radius: 5px;
}
.screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.mainscreen{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginbody{
    margin: 10px;
}