.loginheader{
    background-color: #0d6efd;
    font-size: x-large;
    padding: 5px;
    color: white;
}
.ridedetails{
    display: flex;
    flex-direction: column;
    border: 2px solid #0d6efd;

}
.body{
    width: 100%;
    padding: 5px;
}
.body th,.body td{
    border: 1px solid black;
    text-align: center;
}
.bookbutton{
    padding: 10px;
    display: flex;
    justify-content: center;

}