.mainscreen{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header {
    background-color: aliceblue;
    font-size:xx-large;
    color: brown;
    padding: 10px;
}
.maincard{
    display: flex;
    flex-direction: column;
    flex:1;
    justify-content: center;
    align-items: center;
}
.tabletitle{
    color: white;
    background-color: #0d6efd;
    padding: 10px;
}
.innercontent{
    flex:1;
    display: flex;
    flex-direction: column;
    padding: 8px;
}
.card{
    min-height: 50%;
    width: 40%;
    border-radius: 5px;
    border: 2px solid #0d6efd;
}
.textcontent{
    font-size: small;

}
.buttons{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.table{
    border: 2px solid #0d6efd;
    table-layout: fixed;
}
.tableheader{
    background-color: #0d6efd;
    color: white;
    border: 2px solid #0d6efd !important;
}
.tablebody{
    border: 2px solid #0d6efd !important;
}
.column{
    border: 2px solid #0d6efd !important;
}
